@model FloralHaven.Models.NHANVIEN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NHANVIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DNNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MKNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MKNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAILNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAILNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDTNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDTNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MANV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
