@model IEnumerable<FloralHaven.Models.NHANVIEN>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DNNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MKNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAILNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDTNV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DNNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MKNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAILNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDTNV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MANV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MANV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MANV })
        </td>
    </tr>
}

</table>
