@model FloralHaven.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@section styles{
    <link rel="stylesheet" href="~/css/LoginRegister.css" />
}

<!-- Register -->
<section class="section-customer__form">
    <h1 class="title | mb-12">Register</h1>
    <div class="form-wrapper">
        @*<div class="icon-wrapper | mb-8">
                <button class="icon-button m-[4px!important]" tabindex="0" type="button" aria-label="Facebook">
                    <svg class="icon-button__icon w-6 h-6" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
                        <path d="M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2m13 2h-2.5A3.5 3.5 0 0 0 12 8.5V11h-2v3h2v7h3v-7h3v-3h-3V9a1 1 0 0 1 1-1h2V5z"></path>
                    </svg>
                </button>
                <button class="icon-button m-[4px!important]" tabindex="0" type="button" aria-label="X">
                    <svg class="icon-button__icon w-6 h-6" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
                        <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path>
                    </svg>
                </button>
                <button class="icon-button m-[4px!important]" tabindex="0" type="button" aria-label="Google">
                    <svg class="icon-button__icon w-6 h-6" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
                        <path d="M12.545,10.239v3.821h5.445c-0.712,2.315-2.647,3.972-5.445,3.972c-3.332,0-6.033-2.701-6.033-6.032s2.701-6.032,6.033-6.032c1.498,0,2.866,0.549,3.921,1.453l2.814-2.814C17.503,2.988,15.139,2,12.545,2C7.021,2,2.543,6.477,2.543,12s4.478,10,10.002,10c8.396,0,10.249-7.85,9.426-11.748L12.545,10.239z"></path>
                    </svg>
                </button>
                <button class="icon-button m-[4px!important]" tabindex="0" type="button">
                    <svg class="icon-button__icon w-6 h-6" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
                        <path d="M.045 18.02c.072-.116.187-.124.348-.022 3.636 2.11 7.594 3.166 11.87 3.166 2.852 0 5.668-.533 8.447-1.595l.315-.14c.138-.06.234-.1.293-.13.226-.088.39-.046.525.13.12.174.09.336-.12.48-.256.19-.6.41-1.006.654-1.244.743-2.64 1.316-4.185 1.726a17.617 17.617 0 01-10.951-.577 17.88 17.88 0 01-5.43-3.35c-.1-.074-.151-.15-.151-.22 0-.047.021-.09.051-.13zm6.565-6.218c0-1.005.247-1.863.743-2.577.495-.71 1.17-1.25 2.04-1.615.796-.335 1.756-.575 2.912-.72.39-.046 1.033-.103 1.92-.174v-.37c0-.93-.105-1.558-.3-1.875-.302-.43-.78-.65-1.44-.65h-.182c-.48.046-.896.196-1.246.46-.35.27-.575.63-.675 1.096-.06.3-.206.465-.435.51l-2.52-.315c-.248-.06-.372-.18-.372-.39 0-.046.007-.09.022-.15.247-1.29.855-2.25 1.82-2.88.976-.616 2.1-.975 3.39-1.05h.54c1.65 0 2.957.434 3.888 1.29.135.15.27.3.405.48.12.165.224.314.283.45.075.134.15.33.195.57.06.254.105.42.135.51.03.104.062.3.076.615.01.313.02.493.02.553v5.28c0 .376.06.72.165 1.036.105.313.21.54.315.674l.51.674c.09.136.136.256.136.36 0 .12-.06.226-.18.314-1.2 1.05-1.86 1.62-1.963 1.71-.165.135-.375.15-.63.045a6.062 6.062 0 01-.526-.496l-.31-.347a9.391 9.391 0 01-.317-.42l-.3-.435c-.81.886-1.603 1.44-2.4 1.665-.494.15-1.093.227-1.83.227-1.11 0-2.04-.343-2.76-1.034-.72-.69-1.08-1.665-1.08-2.94l-.05-.076zm3.753-.438c0 .566.14 1.02.425 1.364.285.34.675.512 1.155.512.045 0 .106-.007.195-.02.09-.016.134-.023.166-.023.614-.16 1.08-.553 1.424-1.178.165-.28.285-.58.36-.91.09-.32.12-.59.135-.8.015-.195.015-.54.015-1.005v-.54c-.84 0-1.484.06-1.92.18-1.275.36-1.92 1.17-1.92 2.43l-.035-.02zm9.162 7.027c.03-.06.075-.11.132-.17.362-.243.714-.41 1.05-.5a8.094 8.094 0 011.612-.24c.14-.012.28 0 .41.03.65.06 1.05.168 1.172.33.063.09.099.228.099.39v.15c0 .51-.149 1.11-.424 1.8-.278.69-.664 1.248-1.156 1.68-.073.06-.14.09-.197.09-.03 0-.06 0-.09-.012-.09-.044-.107-.12-.064-.24.54-1.26.806-2.143.806-2.64 0-.15-.03-.27-.087-.344-.145-.166-.55-.257-1.224-.257-.243 0-.533.016-.87.046-.363.045-.7.09-1 .135-.09 0-.148-.014-.18-.044-.03-.03-.036-.047-.02-.077 0-.017.006-.03.02-.063v-.06z"></path>
                    </svg>
                </button>
            </div>*@
        @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", id = "customer_register", @class = "customer__form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "error-msg" })
            <div class="input-box">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", id = "first-name", name = "customer[first_name]", @placeholder = Html.DisplayNameFor(m => m.FirstName), autocomplete = "given-name" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "error-msg" })
            </div>
            <div class="input-box">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", id = "last-name", name = "customer[last_name]", @placeholder = Html.DisplayNameFor(m => m.LastName), autocomplete = "family-name" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "error-msg" })
            </div>
            <div class="input-box">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "email", name = "customer[email]", @placeholder = Html.DisplayNameFor(m => m.Email), autocomplete = "email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error-msg" })
            </div>
            <div class="input-box | relative">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control password", id = "password", name = "customer[password]", @placeholder = Html.DisplayNameFor(m => m.Password), autocomplete = "new-password" })
                <button class="icon-button show-pass" tabindex="0" type="button" aria-label=" Show Password">
                    <svg class="w-6 h-6 icon-button__icon" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
                        <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5M12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5m0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3"></path>
                    </svg>
                </button>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error-msg" })
            </div>
            <div class="input-box | relative">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control password", id = "comfirmpassword", name = "customer[comfirmpassword]", @placeholder = Html.DisplayNameFor(m => m.ConfirmPassword), autocomplete = "comfirm-pasword" })
                <button class="icon-button show-pass" tabindex="0" type="button" aria-label=" Show Password">
                    <svg class="w-6 h-6 icon-button__icon" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
                        <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5M12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5m0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3"></path>
                    </svg>
                </button>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error-msg" })
            </div>
            <button class="btn btn-primary | mt-6 mb-3 w-full" type="submit">REGISTER</button>
        }
    </div>
    <a class="login-btn | btn-link mt-10 font-bold text-decoration-none" href="@Url.Action("Login","Account")">Login</a>
    <script>
        const showPassBtns = document.querySelectorAll(".show-pass");
        const passwordInputs = document.querySelectorAll(".password");
        showPassBtns.forEach((btn, index) => {
            btn.addEventListener("click", function () {
                if (passwordInputs[index].type === "password") {
                    passwordInputs[index].type = "text";
                    btn.querySelector("svg").innerHTML = `<path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7M2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2m4.31-.78 3.15 3.15.02-.16c0-1.66-1.34-3-3-3z"></path>`;
                } else {
                    passwordInputs[index].type = "password";
                    btn.querySelector("svg").innerHTML = `<path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5M12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5m0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3"></path>`;
                }
            });
        });
    </script>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
