@{
    ViewBag.Title = "Order Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var user = (FloralHaven.Models.User)ViewBag.User;
}

@section vendorscss{
    <link rel="stylesheet" href="~/adminassets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="~/adminassets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/adminassets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="~/adminassets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/adminassets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="~/adminassets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="~/adminassets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css" />
    <link rel="stylesheet" href="~/adminassets/vendor/libs/sweetalert2/sweetalert2.css" />
    <link rel="stylesheet" href="~/adminassets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/adminassets/vendor/libs/form-validation/form-validation.css" />
}

@section vendors{
    <script src="~/adminassets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/adminassets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="~/adminassets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="~/adminassets/vendor/libs/select2/select2.js"></script>
    <script src="~/adminassets/vendor/libs/form-validation/popular.js"></script>
    <script src="~/adminassets/vendor/libs/form-validation/bootstrap5.js"></script>
    <script src="~/adminassets/vendor/libs/form-validation/auto-focus.js"></script>
    <script src="~/adminassets/vendor/libs/sweetalert2/sweetalert2.js"></script>
}

@section scripts{
    <script src="~/js/ad-orderdetails.js"></script>
    <script>
     let vbid = @ViewBag.Id;
    </script>
}


<div class="container-xxl flex-grow-1 container-p-y">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-6 row-gap-4">
        <div class="d-flex flex-column justify-content-center">
            <div class="mb-1"><span class="h5">Order #@ViewBag.ID</span></div>
            <p class="mb-0">@ViewBag.Date</p>
        </div>
        <div class="d-flex align-content-center flex-wrap gap-2">
            <button class="btn btn-label-danger delete-order" data-bs-toggle="modal" data-bs-target="#modalConfirm">Delete Order</button>
        </div>
    </div>

    <!-- Order Details Table -->
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card mb-6">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title m-0">Order details</h5>
                    <h6 class="m-0"><a href=" javascript:void(0)">Edit</a></h6>
                </div>
                <div class="card-datatable table-responsive">
                    <table class="datatables-order-details table border-top">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="w-50">products</th>
                                <th class="w-25">price</th>
                                <th class="w-25">qty</th>
                                <th>total</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="d-flex justify-content-end align-items-center m-6 mb-2">
                        <div class="order-calculations">
                            <div class="d-flex justify-content-start mb-2">
                                <span class="w-px-100 text-heading">Subtotal:</span>
                                <h6 class="mb-0 subtotal">@Math.Floor(ViewBag.Total)</h6>
                            </div>
                            <div class="d-flex justify-content-start">
                                <h6 class="w-px-100 mb-0">Total:</h6>
                                <h6 class="mb-0 total">@Math.Floor(ViewBag.Total)</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card mb-6">
                <div class="card-header">
                    <h5 class="card-title m-0">Customer details</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-start align-items-center mb-6">
                        <div class="avatar me-3">
                            <img src="@user.Avatar" alt="" class="rounded-circle" />
                        </div>
                        <div class="d-flex flex-column">
                            <a href="app-user-view-account.html" class="text-body text-nowrap">
                                <h6 class="mb-0">@(user.FirstName + " " + user.LastName)</h6>
                            </a>
                            <span>Customer ID: #@user.Id</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="mb-1">Contact info</h6>
                    </div>
                    <p class="mb-1">Email: @user.Email</p>
                </div>
            </div>

            <div class="card mb-6">
                <div class="card-header d-flex justify-content-between">
                    <h5 class="card-title m-0">Shipping address</h5>
                </div>
                <div class="card-body">
                    <p class="mb-0">Address Here</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Content -->
<!-- Modal -->
<div class="modal fade" id="modalConfirm" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Delete Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <p class="fw-medium mb-1">
                            Are you sure you want to delete order <span id="orderId">#@ViewBag.ID</span>?
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                @using (Html.BeginForm("DeleteOrder", "User", new { id = ViewBag.ID }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger"><i class="ti ti-trash"></i>&nbsp;Delete</button>
                }
            </div>
        </div>
    </div>
</div>