@model FloralHaven.Models.IndexViewModel
@using FloralHaven.Helpers
@{
    ViewBag.Title = "Manage";
}

@{
    var currentUser = UserHelper.GetCurrentUser();
}

<section class="section-account">
    <div class="page-header">
        <h1 class="page-header__title">My Account</h1>
    </div>
    <div class="Customer md:px-6 lg:px-12 xl:px-16 2xl:px-48 py-8 md:py-12 lg:py-20 flex">
        <div class="customer__nav | md:px-4 xl:px-16 w-1/6 hidden md:flex flex-col border-r border-color-border">
            <a href="#" class="tab_item active">DashBoard</a>
            <a href="@Url.Action("Address","Manage")" class="tab_item hover1">Address</a>
            <a href="@Url.Action("Cart","Home")" class="tab_item hover1">Cart</a>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change pwd", "ChangePassword", null, htmlAttributes: new { @class = "tab_item hover1" })
            }
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <button class="tab_item hover1 logout text-danger">Log out</button>
            }
        </div>
        <div class="customer__info | px-4 md:px-8 xl:px-16 2xl:px-24 w-full md:w-5/6">
            <div class="mb-10">
                Hello <span id="firstName" class="font-bold">@currentUser.FirstName</span>
                <span id="lastName" class="font-bold">@currentUser.LastName</span>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <span>(Not you? <button class="font-bold">Log out</button>)</span>
                }
                <p class="text-success">@ViewBag.StatusMessage</p>
            </div>
            <div class="mb-16">
                <h2 class="text-2xl font-medium mb-8">Order History</h2>
                <div class="notification show success">
                    <svg class="w-[20px] h-[20px]" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                    <a class="mx-2 font-semibold underline" href="@Url.Action("Index","Product")">Make your first order.</a>
                    <span>You haven't placed any orders yet</span>
                </div>
            </div>
            <div class="account_detail mb-16">
                <h2 class="text-2xl font-medium mb-3">Account Details</h2>
                <div class="flex border-b border-color-border py-5">
                    <div class="w-1/3">Name</div>
                    <div id="fullName" class="w-2/3 text-color-secondary">@(currentUser.FirstName + currentUser.LastName)</div>
                </div>
                <div class="flex border-b border-color-border py-5">
                    <div class="w-1/3">Email</div>
                    <div id="email" class="w-2/3 text-color-secondary">@currentUser.Email</div>
                </div>
            </div>
            <a class="btn btn-primary" href="@Url.Action("Address","Manage")">VIEW ADDRESS</a>
        </div>
    </div>
</section>