@model IEnumerable<FloralHaven.Models.HOA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENHOA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NSX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MALOAI)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TENHOA)
            </td>
            <td>
                <img src="~/Imgs/@item.IMG" alt="@item.IMG"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SOLUONG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NSX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MALOAI)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MAHOA }) |
                @Html.ActionLink("Details", "Details", new { id = item.MAHOA }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MAHOA })
            </td>
        </tr>
    }

</table>
