@model FloralHaven.Models.ProductViewModel
@using PagedList.Mvc;
@using FloralHaven.Models;
@{
    List<ProductViewModel> listSubItem = ViewBag.subItem;
}
@section styles{
    <link href="~/Content/Slick/slick.css" rel="stylesheet" />
    <link href="~/css/products.css" rel="stylesheet" />
    <link href="~/css/breadcrumb.css" rel="stylesheet" />
    <link href="~/css/product_detail.css" rel="stylesheet" />
    <style>
        .hero-header {
            margin-bottom: 0 !important;
        }
    </style>
}

@section scripts{
    <script src="~/Scripts/Slick/slick.min.js"></script>
    <script src="~/js/jquery.bootstrap-touchspin.js"></script>
    <script src="~/js/product_detail.js"></script>
}

<div class="container">
    <section class="bread-crumb">
        <div class="container">
            <ul class="breadcrumb">
                <li class="home">
                    @Html.ActionLink("Trang chủ", "Index", "Home", null, new { title = "Trang chủ" })
                    <span class="mr_lr">&nbsp;<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>&nbsp;</span>
                </li>
                <li class="category">
                    @Html.ActionLink(Model.CategoryName, "Category", "Category", new { slug = Model.CategorySlug }, new { title = Model.CategoryName })
                    <span class="mr_lr">&nbsp;<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>&nbsp;</span>
                </li>
                <li><strong><span>@Model.Title</span></strong></li>
            </ul>
        </div>
    </section>
    <div class="top-detail-product">
        <div class="row">
            <div class="col-lg-5">
                <div class="detail-slider">
                    @foreach (var image in Model.Images)
                    {
                        <figure>
                            <img src="@image" alt="@image" width="800" height="800">
                        </figure>
                    }
                </div>
                <div class="slider-nav-thumbnails">
                    @foreach (var image in Model.Images)
                    {
                        <div class="thumb-item">
                            <img src="@image" alt="@image" width="200" height="200" />
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-7">
                <h2 class="title">@Model.Title</h2>
                <div class="product-feature">
                    @Html.Raw(Model.Description)
                </div>
                <hr />
                <div class="product-info sku">
                    <p>SKU</p>
                    <p itemprop="sku">@Model.SKU</p>
                </div>
                <div class="product-info quantity">
                    <p>Số lượng</p>
                    <p>
                        <input id="quantity" type="text" value="1" name="quantity" class="form-control">
                    </p>
                </div>
                <hr />
                <div class="price-box clearfix">
                    @if (Model.SalePrice != null)
                    {
                        <span class="special-price">
                            <span class="price product-price">@Model.Price.ToString("N0")₫</span>
                            <meta itemprop="price" content="@Model.Price">
                            <meta itemprop="priceCurrency" content="VND">
                        </span>
                        <!-- Giá Khuyến mại -->
                        <span class="old-price" itemprop="priceSpecification" itemscope="" itemtype="http://schema.org/priceSpecification">
                            <del class="price product-price-old">
                                @Model.SalePrice.GetValueOrDefault().ToString("N0")₫
                            </del>
                            <meta itemprop="price" content="@Model.SalePrice">
                            <meta itemprop="priceCurrency" content="VND">
                        </span>
                        <!-- Giá gốc -->
                    }
                    else
                    {
                        <div class="special-price">
                            <span class="price product-price">@Model.Price.ToString("N0")₫</span>
                            <meta itemprop="price" content="@Model.Price">
                            <meta itemprop="priceCurrency" content="VND">
                        </div>
                        <!-- Giá -->
                    }
                </div>
                <div class="btn-box">
                    <button class="btn btn-buy" type="button" data-id="@Model.Id" data-price="@Model.Price" data-sku="@Model.SKU" data-name="@Model.Title" data-category="@Model.CategoryName">Mua ngay</button>
                    <button type="button" data-id="@Model.Id" data-price="@Model.Price" data-sku="@Model.SKU" data-name="@Model.Title" data-category="@Model.CategoryName" class="btn btn-add-to-cart" href="">Thêm vào giỏ</button>
                </div>
                <hr />
                <div class="option-box">
                    <ul>
                        <li><img width="40" src="~/Imgs/delivery.png"><span>Giao hàng nhanh 2 giờ trong 5km</span></li>
                        <li><img width="40" src="~/Imgs/present-box.png"><span>Miễn phí thiệp chúc mừng</span></li>
                        <li><img width="40" src="~/Imgs/eco-nature.png"><span>Đảm bảo hoa tươi trong 3 ngày</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<h1>Sản phẩm liên quan</h1>
<div class="container">
    <div class="row">
        <div class="block-collection col-lg-12 col-12">
            <div class="category-products products-view products-view-grid list_hover_pro">
                <div class="filter-containers">
                    <div class="products-view products-view-grid list_hover_pro">
                        <div class="row">
                            @if (listSubItem == null || listSubItem.Count < 1)
                            {
                                <p class="col-12">
                                    No products found
                                </p>
                            }
                            else
                            {
                                foreach (var item in listSubItem)
                                {
                                    <div class="col-6 col-md-3">
                                        <div class="item_product_main">
                                            @using (Html.BeginForm("AddToCart", "Home", FormMethod.Post, new { @class = "variants product-action item-product-main duration-300", data_id = "product-actions-" + item.Id }))
                                            {
                                                if (item.SalePrice != null)
                                                {
                                                    var salepercent = Math.Round((item.Price - item.SalePrice.GetValueOrDefault()) / item.Price * 100);

                                                    <span class="flash-sale">
                                                        Sale @salepercent.ToString()%
                                                    </span>
                                                }
                                                <div class="product-thumbnail">
                                                    <a class="image_thumb scale_hover" href="/product/@item.Handle" title="@item.Title">
                                                        <img class="lazyload duration-300" data-src="@item.Images[0]" alt="@item.Title" />
                                                        @*@foreach (var image in item.Images)
                                                        {
                                                            <figure>
                                                                <img src="@image" alt="@image" width="800" height="800">
                                                            </figure>
                                                        }
                                                        <span class="loader"></span>*@
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <h3 class="product-name line-clamp line-clamp-2">
                                                        <a href="/product/@item.Handle" title="@item.Title">@item.Title</a>
                                                    </h3>
                                                    <div class="product-price-cart">
                                                        <div class="price-box">
                                                            @if (item.SalePrice != null)
                                                            {
                                                                <span class="compare-price">@item.Price.ToString("N0")₫</span>
                                                                <span class="price">@item.SalePrice.GetValueOrDefault().ToString("N0")₫</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="price">@item.Price.ToString("N0")₫</span>
                                                            }
                                                        </div>
                                                        <div class="product-button">
                                                            @if (item.Instock != null && item.Instock > 0)
                                                            {
                                                                <button class="btn-cart btn-views add_to_cart" data-id="@item.Id" title="Thêm vào giỏ hàng" type="submit">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                                                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                                                    </svg>
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button type="button" class="btn-cart-disable btn-views disable" title="Hết hàng">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart-x" viewBox="0 0 16 16">
                                                                        <path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793 7.354 5.646z"></path>
                                                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                                                    </svg>
                                                                </button>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>