@{
    ViewBag.Title = "Floral Haven";
}
@section Hero{
    <div class=" py-5 bg-dark hero-header mb-5">
        <div class="container my-5 py-5">
            <div class="row align-items-center g-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-6 text-white animated slideInLeft"> 🌸 Thiên Đường Hoa 🌸</h1>
                    <p class="text-white animated slideInLeft mb-4 pb-2">Chào mừng bạn đến với Thiên Đường Hoa, nơi mang đến những bông hoa tươi thắm và đẹp nhất cho mọi dịp. Chúng tôi tự hào cung cấp đa dạng các loại hoa từ hoa hồng, hoa lan, đến hoa cẩm chướng, tất cả đều được chọn lọc kỹ lưỡng và chăm sóc tận tình. Hãy để Thiên Đường Hoa giúp bạn gửi gắm những thông điệp yêu thương qua từng cánh hoa.🌷</p>
                    @Html.ActionLink("Shop Now", "Menu", "Pages", new { area = "" }, new { @class = "button-77 animated slideInLeft" })
                </div>
                <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                    <img class="img-fluid" src="~/Imgs/flower.png" alt="">
                </div>
            </div>
        </div>
    </div>
}

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp " data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                        <h5 class="d-flex justify-center align-items-center gap-2">Gentle fragrance <img width="20" height="20" src="https://img.icons8.com/color/48/smelling-a-flower.png" alt="smelling-a-flower" /></h5>
                        <p>Đóa hoa hồng đỏ tỏa hương thơm ngát, thu hút ong và bướm mỗi sáng.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                        <h5 class="d-flex justify-center align-items-center gap-2">Quality Product <img width="20" height="20" src="https://img.icons8.com/doodle/20/warranty-card.png" alt="warranty-card" /></h5>
                        <p>Chúng tôi cam kết sản phẩm chất lượng, kiểm tra kỹ lưỡng.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                        <h5 class="d-flex justify-center align-items-center gap-2">24/7 Service <img width="20" height="20" src="https://img.icons8.com/doodle/20/service.png" alt="service" /></h5>
                        <p>
                            Nhân viên luôn phục vụ tận tình và chuyên nghiệp, mang lại sự hài lòng.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                        <h5 class="d-flex justify-center align-items-center gap-2"> Diversity <img width="20" height="20" src="https://img.icons8.com/pulsar-color/20/flower.png" alt="flower" /></h5>
                        <p>
                            Cửa hàng có đa dạng sản phẩm, từ quần áo đến phụ kiện, phong cách.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
@Html.Action("Intro", "Pages")
<!-- About End -->
<!--Sub Menu Start -->
@Html.Action("SubMenu", "Pages")
<!--Sub Menu End -->
<!-- Team Start -->
@Html.Action("BookingMenu", "Pages")
<!-- Team End -->
<!-- Testimonial Start -->
@Html.Action("Testimonial", "Pages")


<!-- Testimonial End -->